/*

This stylesheet was created to make custom updates to the Canvas theme template for CatEye specific variations
Author: Sean Eno

Color palette:
black - 030000
red - ff0000

*/

/* -- Header --*/
.cateye-logo {
  float:left;
  display: block;
}

.art-of-ride {
  margin: 20px 0px 50px 0px;
}

/* -- General Styles -- */
.display {
  display: block;
}

.grey-bg {
  background-color: #F5F5F5 !important;
  border-bottom: 1px solid #EEE;
}

.social {
  font-size: 45px;
  color: #030000;
  margin: 8px 0px 0px 0px;
}

.social a {
  font-size: 45px;
  color: #030000;
  margin: 32px 0px 0px 45px;
}

.social a:hover{
  color: #ff0000;
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
  background-color: #ff0000 !important;
}

.icon-angle-up:hover{
  background-color: #ff0000 !important;
}

.flex-next:hover{
  background-color: #ff0000 !important;
}

.flex-prev:hover{
  background-color: #ff0000 !important;
}

/* responsive */
@media screen and (max-width: 768px) {
  .social {
    float:none !important;
    margin-left:auto;
    margin-right: auto;
    display: block;
    width: 300px;
    text-align: center;
  }

  .social a {
    margin-left:20px;
    margin-right: 20px;
  }

  .display {
    display: none;
  }
}

/* -- Structure Styles -- */
/* brush stroke backgrounds */
.artist-riders-bg {
  background: url("imgs/brush-stroke.png") no-repeat -150px 100px;
}

/* -- Containers -- */
.content-wrap {
  padding: 80px 0px 0px 0px;
}

.art-of-the-ride-spacer {
  margin-bottom: 80px;
}

.visit-instagram-bg {
  background: url("imgs/brush-stroke2.png") no-repeat right -200px;
}

.visit-instagram {
  padding: 50px 0px 50px 0px;
  height: 162px;
}

.share-the-ride {
  padding: 50px 0px 50px 0px;
}

.share-the-ride-bg {
  background: url("imgs/brush-stroke2.png") no-repeat left -200px;
}

.ride-the-light{
  margin-top: 100px;
}

/* -- Footer -- */

footer {
  padding: 40px;
  background: #030000;
  color: white;
}
